.info {
  display: grid;
  grid-gap: .5rem 1rem;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-areas:
    "img title ."
    "img stars ."
    "img amenities ."
    "img . ."
}

.info__imgContainer {
  min-width: 12rem;
  grid-area: img
}

.info__img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.info__title {
  color: var(--title-color);
  grid-area: title;
}

.info__stars {
  color: var(--gold-color);
  grid-area: stars;
}

.info__amenities {
  grid-area: amenities;
}

.amenities {
  display: flex;
  align-items: baseline;
}

.amenities__img {
  width: 1.2rem;
  margin-right: .5rem;
}

@media screen and (max-width: 800px) {

  .info {
    grid-template-areas:
      "img img img"
      "title title title"
      "stars stars stars"
      "amenities amenities amenities"
  }

  .info__imgContainer{
    max-width: 45rem;
    width: 100%;
  }

  .info__img {
    height: auto;
  }

}
