<div class="info">
  <div class="info__imgContainer">
    <img [src]="sanitizedImg" alt="foto-hotel" class="info__img">
  </div>
  <h4 class="info__title">{{hotel.name}}</h4>
  <div class="info__stars">
      <i class="fas fa-star" *ngFor="let i of hotel.starsArray"></i>
  </div>
  <div class="info__amenities amenities">
    <img *ngFor="let amenity of hotel.amenities"
      [src]="'../../../../assets/icons/amenities/' + amenity + '.svg'" alt="comodidades" class="amenities__img">
  </div>
</div>
