.stars {
  display: grid;
  grid-row-gap: 1rem;
  padding: 1rem;
  box-shadow: var(--z-low);
}

.stars__header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(6, minmax(1rem, 1fr));
  color: var(--title-color);
  cursor: pointer;
}

.stars__header > * {
  max-height: 1rem;
  /* padding: 0 .5rem; */
}

.stars__logo {
  font-size: .8rem;
}

.stars__title {
  grid-column: span 3;
}


.stars__expander {
  grid-column-start: -1;
}

.stars__body {
  display: flex;
  flex-direction: column-reverse;
  font-size: .7rem;
}

.stars__body > *{
  height: 1.7rem;
}

.stars__input {
  border-radius: 2px;
  padding: 0 .1rem;
  flex-basis: 70%;
}

.stars__submit {
  background-color: var(--principal-color);
  color: #fff;
  font-weight: 700;
  padding: 0 .5rem;
  border: 1px solid var(--principal-color);
  border-radius: 2px;
  border-bottom: solid 2px hsla(216, 66%, 15%, 1);
}

.stars__option {
  display: flex;
  font-weight: 600;
}

.stars__option :first-child{
  margin-right: 2%;
}

.stars__star > i {
  color: var(--gold-color);
  margin: 0 .1rem;
}
