<div class="stars filter__section" [formGroup]="filtersForm">
    <div class="stars__header" appToggleMenu>
      <div class="stars__logo">
          <i class="fas fa-star"></i>
      </div>
      <h5 class="stars__title">Estrellas</h5>
      <div class="stars__expander filter__expander">
        <i class="fas fa-sort-up" #arrow></i>
      </div>
    </div>
    <div class="stars__body">
      <ng-container formArrayName="stars">
        <div class="stars__option stars__star" *ngFor="let star of starsFormArray['controls']; let i = index">
          <input type="checkbox" [formControlName]="i"> <i class="fas fa-star" *ngFor="let star of getStarsAmount(i + 1)"></i>
        </div>
      </ng-container>
      <div class="stars__option">
          <input type="checkbox" (change)="selectAllStars($event.target.checked)"> Todas las estrellas
      </div>
    </div>
  </div>
