.header {
  padding: .8rem .5rem;
  box-shadow: var(--z-low);
  display: flex;
  pointer-events: none;
}

.header > * {
  margin: 0 .5rem;
}

.header__expander {
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .header {
    justify-content: center;
    pointer-events: all;
    cursor: pointer;
    color: var(--title-color);
  }

  .header__expander {
    visibility: visible;
  }

  .header {
    box-shadow: var(--z-med);
  }

}
