<div class="header" appToggleMenu (click)="toggleFilters()">
<h4 class="header__title">Filtros</h4>
<div class="header__expander filter__expander">
  <i class="fas fa-sort-down" #arrow></i>
</div>
</div>
