<div class="loading">
    <div class="loading__logo">
      <div class="loading__circle"></div>
      <div class="loading__circle"></div>
    </div>
    <p class="loading__title">Cargando Hoteles...</p>
</div>
