.loading {
  background: #fff;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__logo {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.loading__circle {
  border:.3rem solid var(--background-color);
  border-color: var(--principal-color) var(--background-color);
  border-radius: 50%;
  width: 80%;
  height: 80%;
  animation: grow 1.5s linear infinite;
  position: absolute;
  opacity: 0
}

.loading__circle:nth-child(even) {
  border-color: var(--background-color) var(--principal-color);
  animation-delay: .75s;
}

.loading__title {
  font-weight: 600;
  color: var(--principal-color);
  margin: .5rem;
}

@keyframes grow {
  0% { transform: scale(0) }
  60% { transform: scale(1); opacity: 1 }
  100% { transform: scale(0); opacity: 0 }
}
