<form class="searcher filter__section" [formGroup]="filtersForm" (ngSubmit)="filterHotels()">
  <div class="searcher__header" appToggleMenu>
    <img src="../../../../assets/icons/filters/search.svg" alt="logo-buscador" class="searcher__logo" >
    <h5 class="searcher__title">Nombre del Hotel</h5>
    <div class="searcher__expander filter__expander">
      <i class="fas fa-sort-up" #arrow></i>
    </div>
  </div>
  <div class="searcher__body">
    <input name="inputBody" type="text" class="searcher__input" placeholder="Ingrese el nombre del hotel" formControlName="name">
    <button type="submit" class="searcher__submit general__button">Aceptar</button>
  </div>
</form>
