.searcher {
  display: grid;
  grid-row-gap: 1rem;
  padding: 1rem;
  box-shadow: var(--z-low);
  max-height: 5rem;
}

.searcher__header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(6, minmax(1rem, 1fr));
  color: var(--title-color);
  cursor: pointer;
}

.searcher__header > * {
  max-height: 1rem;
}

.searcher__logo {
  width: 1rem;
}

.searcher__title {
  grid-column: span 3;
}


.searcher__expander {
  grid-column-start: -1;
}

.searcher__body {
  display: flex;
  justify-content: space-between;
}

.searcher__body > *{
  height: 1.7rem;
}

.searcher__input {
  border-radius: 2px;
  padding: 0 .1rem;
  flex-basis: 70%;
}

.searcher__submit {
  font-weight: 700;
}
