
<div class="filter">
  <div class="filter__header">
    <app-filter-header (toggleFilterEvent)="toggleFilters()"></app-filter-header>
  </div>
    <div class="filter__body filter__body--hidden" #filterBody>
      <app-filter-hotel [filtersForm]="filtersForm"></app-filter-hotel>
      <app-filter-stars [filtersForm]="filtersForm"></app-filter-stars>
    </div>

</div>
