.filter {
  /* width: 20vw; */
  /* margin: 1rem; */
  display: grid;
  grid-row-gap: .2rem;
}

.filter * {
  background-color: #fff;
}

.filter__section {
  overflow: hidden;
  transition: all .5s;
  max-height: 11rem;

}

.filter__section--close {
  max-height: 0.5rem !important;
}

.filter__expander--open {
  transform: rotateZ(180deg);
}

.filter__expander > :first-child {
  transition: transform .5s;
}

.filter__header {
  z-index: 2;
}

.filter__body {
  transition: transform .8s;
  display: grid;
  grid-gap: .2rem;
}

@media screen and (max-width: 800px) {

  .filter__header {
    height: 2.7rem;
  }

  .filter__body {
    position: absolute;
    width: 100%;
    margin-top: 2.8rem;
    box-shadow: var(--z-med);
  }

  .filter__body--hidden {
    transform: translateY(-150%);
  }

}
