.home {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    "header header header"
    "filters hotels hotels"
}

.home__header {
  grid-area: header;
  z-index: 3;
}

.home__filters {
  grid-area: filters;
  margin-left: .5rem;
  z-index: 2;
}

.home__hotels {
  grid-area: hotels;
  margin-right: .5rem;
  position: relative;
}

.home__loading {
  position: absolute;
  z-index: 2;
  width: 100%;
}




@media screen and (max-width: 800px) {

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    grid-template-areas:
      "header header header"
      "filters filters filters"
      "hotels hotels hotels"
  }
  .home__filters {
    margin: 0;
  }

  .home__hotels {
    grid-area: hotels;
    margin: .5rem;
  }

}
