<div class="home">
  <div class="home__header">
    <app-header></app-header>
  </div>
  <div class="home__filters">
    <app-filter></app-filter>
  </div>

  <div class="home__hotels">
    <div class="home__loading">
      <app-loading-status *ngIf="!hotelService.hotelsLoaded"></app-loading-status>
    </div>
    <ng-container *ngIf="hotelService.hotelsLoaded">
      <div class="hotels__list" *ngFor="let hotel of hotelService.hotels">
        <app-card [hotel]="hotel"></app-card>
      </div>
    </ng-container>
  </div>

</div>

