<div class="card">
  <div class="card__info">
    <app-card-info [hotel]=hotel></app-card-info>
  </div>
  <div class="card__price">
    <app-card-price [hotel]=hotel></app-card-price>
  </div>
</div>

