.card {
  position: relative;
  padding: .5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  box-shadow: var(--z-low);
}

.card__info {
  border-right: dotted 1px rgba(128, 128, 128, 0.562);
  width: 80%;
}

.card__price {
  padding: 1.5rem;
}

@media screen and (max-width: 800px) {

  .card {
    flex-direction: column;
  }

  .card__info {
    border-right: none;
    border-bottom: dotted 1px rgba(128, 128, 128, 0.562);
    padding-bottom: 1rem;
    width: 100%;
  }

}

