/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --principal-color: #002a79;
  --background-color: #f4f4f4;
  --title-color: #0b7ab3;
  --gold-color: #ffbb00;
  --gray-color: #444444;
  --orange-color: #e16800;

  --z-low: 0px 1px 5px 1px rgb(206, 206, 206);
  --z-med: 0px 1px 7px 2px rgb(172, 172, 172);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

.general__button {
  background-color: var(--principal-color) !important;
  padding: 0 .5rem;
  color: #fff;
  font-weight: 700;
  padding: 0 .5rem;
  border: 1px solid var(--principal-color);
  border-radius: 2px;
  border-bottom: solid 2px hsla(216, 66%, 15%, 1);
  cursor: pointer;
}

.disabled__button {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #3261b8 !important;
  border-color: #3261b8;
}
