.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__title {
  text-align: center;
  font-size: .7rem;
  color: var(--gray-color);
}

.price__value {
  color: var(--orange-color);
  display: flex;
  align-items: center;
}

.price__currency {
  font-size: 1.5rem;
  margin-right: .1rem;
}

.price__cost {
  font-size: 2rem;
  font-weight: 600;
}

.price__info {
  font-size: 1.2rem;
  padding: .5rem;
}
