<div class="price">
    <h5 class="price__title">Precio por noche por habitación</h5>
    <div class="price__value">
      <span class="price__currency">ARS</span>
      <span class="price__cost">{{ hotel.price | number:'1.0-0':'ar' }}</span>
    </div>
    <button class="price__info general__button">Ver hotel</button>
</div>
